In [47]:
# DataWrangling
import pandas as pd
import numpy as np

# Load datasets
customers = pd.read_csv("/content/Customers1 - Sheet1.csv")
sales = pd.read_csv("/content/Sales1 - Sheet1.csv")
support = pd.read_csv("/content/support1 - Sheet1.csv")

# Inspect
print(customers.head())
print(sales.head())
print(support.head())

print("\nMissing Values:")
print(customers.isnull().sum())

  CustomerID   Name   Age Region  SignupDate
0       C001   Amit  28.0  North  2023-01-15
1       C002  Priya  35.0  South  2022-11-20
2       C003   John   NaN   East  2023-03-05
3       C004   Sara  42.0   West  2021-07-12
4       C005  David  30.0  North  2023-02-10
  OrderID CustomerID Product  Quantity  Price   OrderDate
0   O1001       C001  Laptop         2  55000  2023-04-10
1   O1002       C002  Mobile         1  25000  2023-04-12
2   O1003       C003  Tablet         3  15000  2023-05-01
3   O1004       C004  Laptop         1  60000  2023-05-15
4   O1005       C005  Mobile         2  22000  2023-06-05
  TicketID CustomerID       IssueType  ResolutionTime
0     T001       C001  Delivery Delay              48
1     T002       C002   Payment Issue              24
2     T003       C003  Product Defect              72
3     T004       C004  Delivery Delay              36
4     T005       C005   Payment Issue              12

Missing Values:
CustomerID    0
Name          0
Age           1
Region        0
SignupDate    0
dtype: int64

In [48]:
# Fill missing Age with median
customers["Age"] = customers["Age"].fillna(customers["Age"].median())

In [49]:
customers["SignupDate"] = pd.to_datetime(customers["SignupDate"])
sales["OrderDate"] = pd.to_datetime(sales["OrderDate"])

In [50]:
# Apply 10% discount
sales["DiscountedPrice"] = sales["Price"] * 0.90

In [51]:
sales["Revenue"] = sales["Quantity"] * sales["Price"]

In [52]:
april_orders = sales[sales["OrderDate"].dt.month == 4]
print(april_orders)

  OrderID CustomerID Product  Quantity  Price  OrderDate  DiscountedPrice  \
0   O1001       C001  Laptop         2  55000 2023-04-10          49500.0
1   O1002       C002  Mobile         1  25000 2023-04-12          22500.0

   Revenue
0   110000
1    25000

In [53]:
sales.head(10)

,OrderID,CustomerID,Product,Quantity,Price,OrderDate,DiscountedPrice,Revenue
0,O1001,C001,Laptop,2,55000,2023-04-10,49500.0,110000
1,O1002,C002,Mobile,1,25000,2023-04-12,22500.0,25000
2,O1003,C003,Tablet,3,15000,2023-05-01,13500.0,45000
3,O1004,C004,Laptop,1,60000,2023-05-15,54000.0,60000
4,O1005,C005,Mobile,2,22000,2023-06-05,19800.0,44000
5,O1006,C006,Headphones,5,2000,2023-06-10,1800.0,10000
6,O1007,C007,Laptop,1,58000,2023-07-02,52200.0,58000
7,O1008,C008,Tablet,2,18000,2023-07-20,16200.0,36000

In [54]:
north_customers = customers[customers["Region"] == "North"]
print(north_customers)

  CustomerID   Name   Age Region SignupDate
0       C001   Amit  28.0  North 2023-01-15
4       C005  David  30.0  North 2023-02-10

In [55]:
high_value_orders = sales[sales["Revenue"] > 10000]
print(high_value_orders)

  OrderID CustomerID Product  Quantity  Price  OrderDate  DiscountedPrice  \
0   O1001       C001  Laptop         2  55000 2023-04-10          49500.0
1   O1002       C002  Mobile         1  25000 2023-04-12          22500.0
2   O1003       C003  Tablet         3  15000 2023-05-01          13500.0
3   O1004       C004  Laptop         1  60000 2023-05-15          54000.0
4   O1005       C005  Mobile         2  22000 2023-06-05          19800.0
6   O1007       C007  Laptop         1  58000 2023-07-02          52200.0
7   O1008       C008  Tablet         2  18000 2023-07-20          16200.0

   Revenue
0   110000
1    25000
2    45000
3    60000
4    44000
6    58000
7    36000

In [56]:
customers_sorted = customers.sort_values("SignupDate")

In [38]:
sales_sorted = sales.sort_values("Revenue", ascending=False)

In [57]:
# Merge Region into sales first
sales_region = sales.merge(customers[["CustomerID", "Region"]],
                            on="CustomerID",
                            how="left")

avg_revenue_region = sales_region.groupby("Region")["Revenue"].mean()
print(avg_revenue_region)

Region
East     51500.0
North    77000.0
South    17500.0
West     48000.0
Name: Revenue, dtype: float64

In [58]:
avg_resolution = support.groupby("IssueType")["ResolutionTime"].mean()
print(avg_resolution)

IssueType
Delivery Delay    38.000000
Payment Issue     18.666667
Product Defect    66.000000
Name: ResolutionTime, dtype: float64

In [59]:
merged = customers.merge(sales, on="CustomerID", how="left")
merged = merged.merge(support, on="CustomerID", how="left")

print(merged.head())

  CustomerID   Name   Age Region SignupDate OrderID Product  Quantity  Price  \
0       C001   Amit  28.0  North 2023-01-15   O1001  Laptop         2  55000
1       C002  Priya  35.0  South 2022-11-20   O1002  Mobile         1  25000
2       C003   John  33.0   East 2023-03-05   O1003  Tablet         3  15000
3       C004   Sara  42.0   West 2021-07-12   O1004  Laptop         1  60000
4       C005  David  30.0  North 2023-02-10   O1005  Mobile         2  22000

   OrderDate  DiscountedPrice  Revenue TicketID       IssueType  \
0 2023-04-10          49500.0   110000     T001  Delivery Delay
1 2023-04-12          22500.0    25000     T002   Payment Issue
2 2023-05-01          13500.0    45000     T003  Product Defect
3 2023-05-15          54000.0    60000     T004  Delivery Delay
4 2023-06-05          19800.0    44000     T005   Payment Issue

   ResolutionTime
0              48
1              24
2              72
3              36
4              12

In [60]:
clv = merged.groupby("CustomerID")["Revenue"].sum().reset_index()
clv.rename(columns={"Revenue": "CLV"}, inplace=True)

merged = merged.merge(clv, on="CustomerID", how="left")

In [61]:
avg_resolution_customer = support.groupby("CustomerID")["ResolutionTime"].mean().reset_index()
avg_resolution_customer.rename(columns={"ResolutionTime": "AvgResolutionTime"}, inplace=True)

merged = merged.merge(avg_resolution_customer, on="CustomerID", how="left")

In [62]:
merged.to_csv("Cleaned_Data.csv", index=False)

In [63]:
merged.head()

,CustomerID,Name,Age,Region,SignupDate,OrderID,Product,Quantity,Price,OrderDate,DiscountedPrice,Revenue,TicketID,IssueType,ResolutionTime,CLV,AvgResolutionTime
0,C001,Amit,28.0,North,2023-01-15,O1001,Laptop,2,55000,2023-04-10,49500.0,110000,T001,Delivery Delay,48,110000,48.0
1,C002,Priya,35.0,South,2022-11-20,O1002,Mobile,1,25000,2023-04-12,22500.0,25000,T002,Payment Issue,24,25000,24.0
2,C003,John,33.0,East,2023-03-05,O1003,Tablet,3,15000,2023-05-01,13500.0,45000,T003,Product Defect,72,45000,72.0
3,C004,Sara,42.0,West,2021-07-12,O1004,Laptop,1,60000,2023-05-15,54000.0,60000,T004,Delivery Delay,36,60000,36.0
4,C005,David,30.0,North,2023-02-10,O1005,Mobile,2,22000,2023-06-05,19800.0,44000,T005,Payment Issue,12,44000,12.0