In [64]:
# Data_Transformation
import pandas as pd

df = pd.read_csv("/content/Dataset  - Sheet1 (1).csv")

print(df)

  Employee Department Quarter  Score
0     Amit      Sales      Q1     78
1    Priya         HR      Q1     85
2     John         IT      Q1     92
3     Sara    Finance      Q1     88
4    David      Sales      Q2     95
5    Meera         HR      Q2     80
6     Alex         IT      Q2     70
7     Ravi    Finance      Q2     90
8     Neha      Sales      Q3     99
9    Karan         IT      Q3     76

In [65]:
exceptional = df[df["Score"] > 90]
print("Exceptional Performers:\n")
print(exceptional)

Exceptional Performers:

  Employee Department Quarter  Score
2     John         IT      Q1     92
4    David      Sales      Q2     95
8     Neha      Sales      Q3     99

In [66]:
sales_dept = df[df["Department"] == "Sales"]
print("Sales Department Records:\n")
print(sales_dept)

Sales Department Records:

  Employee Department Quarter  Score
0     Amit      Sales      Q1     78
4    David      Sales      Q2     95
8     Neha      Sales      Q3     99

In [67]:
ranked = df.sort_values("Score", ascending=False)
print("Performance Ranking:\n")
print(ranked)

Performance Ranking:

  Employee Department Quarter  Score
8     Neha      Sales      Q3     99
4    David      Sales      Q2     95
2     John         IT      Q1     92
7     Ravi    Finance      Q2     90
3     Sara    Finance      Q1     88
1    Priya         HR      Q1     85
5    Meera         HR      Q2     80
0     Amit      Sales      Q1     78
9    Karan         IT      Q3     76
6     Alex         IT      Q2     70

In [68]:
dept_rank = df.sort_values(["Department", "Score"], ascending=[True, False])
print("Department-wise Ranking:\n")
print(dept_rank)

Department-wise Ranking:

  Employee Department Quarter  Score
7     Ravi    Finance      Q2     90
3     Sara    Finance      Q1     88
1    Priya         HR      Q1     85
5    Meera         HR      Q2     80
2     John         IT      Q1     92
9    Karan         IT      Q3     76
6     Alex         IT      Q2     70
8     Neha      Sales      Q3     99
4    David      Sales      Q2     95
0     Amit      Sales      Q1     78

In [69]:
avg_dept_score = df.groupby("Department")["Score"].mean()
print("Average Score by Department:\n")
print(avg_dept_score)

Average Score by Department:

Department
Finance    89.000000
HR         82.500000
IT         79.333333
Sales      90.666667
Name: Score, dtype: float64

In [70]:
max_quarter_score = df.groupby("Quarter")["Score"].max()
print("Maximum Score by Quarter:\n")
print(max_quarter_score)

Maximum Score by Quarter:

Quarter
Q1    92
Q2    95
Q3    99
Name: Score, dtype: int64